[client]
user={{mycnf_user}}
password={{mycnf_pass}}

[mysql]
user={{mycnf_user}}
password={{mycnf_pass}}

[mysqldump]
user={{mycnf_user}}
password={{mycnf_pass}}

[mysqldiff]
user={{mycnf_user}}
password={{mycnf_pass}}